@model IEnumerable<RentC.DataAccess.SQL.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ReservationId", "Index", new { sortOrder = ViewBag.ReservationIDSortParm })
        </th>
        <th>
            @Html.ActionLink("Plate", "Index", new { sortOrder = ViewBag.PlateSortParm })
        </th>
        <th>
            @Html.ActionLink("CustomerID", "Index", new { sortOrder = ViewBag.CustomerIDSortParm })

        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservStatsID)
        </th>
        <th>
            @Html.ActionLink("StartDate", "Index", new { sortOrder = ViewBag.StartDateSortParm })

        </th>
        <th>
            @Html.ActionLink("EndDate", "Index", new { sortOrder = ViewBag.EndDateSortParm })

        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservStatsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
        </td>
    </tr>
    }

</table>